<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Videogame Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Videogame Title"
                    name="Name" 
                    value="<%= Videogame.Name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publisherTextField">Publisher</label>
                    <input type="text" class="form-control"
                    id="publisherTextField"
                    placeholder="Enter the videogame's Publisher"
                    name="Publisher" 
                    value="<%= Videogame.Publisher %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="releaseTextField">Year</label>
                    <input type="text" class="form-control"
                    id="releaseTextField"
                    placeholder="Enter the Year of Release"
                    name="Release" 
                    value="<%= Videogame.Release %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the Videogame's Price"
                    name="Price" 
                    value="<%= Videogame.Price %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/videogameslist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>